@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;500&display=swap');

body[data-theme='lightTheme'] {
    --primary-color: #000000;
    --secondary-color: #fff4d9;
    --tertiary-color: #f2f2f2;
    --text-color: #000000;
    --subtext-color: #555555;
    --background-color: #ffffff;
    --card-background-color: #ffffff;
    --scroll-bar-color: rgba(0, 0, 0, 0.5);
    --box-shadow-color: rgba(0, 0, 0, 0.16);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
    --base-font: 'Poppins', Arial, sans-serif;
    --code-block-bg: #151f28;
    --code-block-var: #ff39a7;
    --code-block-num: #fed703;
    --code-block-fun: #c653ff;
    --code-block-keyword: #2bdcff;
    --code-block-comment: #8292a2;
    --code-block-tkimp: #fd971f;
}

body[data-theme='darkTheme'] {
    --primary-color: #fafafa;
    --secondary-color: #2a2926;
    --tertiary-color: #252525;
    --text-color: rgba(255, 255, 255, 0.87);
    --subtext-color: #aaaaaa;
    --background-color: #121212;
    --card-background-color: #1c1c1c;
    --scroll-bar-color: rgba(255, 255, 255, 0.5);
    --box-shadow-color: rgba(0, 0, 0, 0.16);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
    --base-font: 'Roboto', Arial, sans-serif;
    --code-block-bg: #151f28;
    --code-block-var: #ff39a7;
    --code-block-num: #fed703;
    --code-block-fun: #c653ff;
    --code-block-keyword: #2bdcff;
    --code-block-comment: #8292a2;
    --code-block-tkimp: #fd971f;
}

h1, h3 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 2.5em !important;
}

#hero {
    padding-top: 5rem;
}

#stack {
    padding-top: 5rem;
}

#projects {
    padding-top: 3rem;
    background: url('/img/image_dots.png') 0.7em 6em no-repeat, url('/img/image_dots_with_teal.png') 98% 98% no-repeat;
    background-size: 40vw, 40vw;
}

#about {
    padding-top: 3rem;
    background: url('/img/grid-bg2.png') 2% 62% no-repeat;
    background-size: 15vh;
}

#contact {
    padding-top: 3rem;
    background: url('/img/grid-bg1.png') 97% 53% no-repeat;
    background-size: 25vh;
}


@media (min-width: 768px) {
    #projects {
        background-size: 20vw, 20vw;
        background-position: 0.8em 3.5em, 30em bottom;
    }

    #about {
        background-size: 35vw;
        background-position: 75% bottom;
        height: 56vh;
    }
}

@media (min-width: 992px) {
    #hero {
        margin-top: 4.2rem;  
        background: url('/img/image_geometry_3.png') no-repeat 100%;
        background-size: auto 100%;
        height: 100vh;
    }

    #stack {
        padding-top: 4em;
    }

    #projects {
        background: url('/img/grid-bg3.png') no-repeat 0 0, url('/img/image_dots_with_teal.png') no-repeat 98% 100%, url('/img/image_dots.png') no-repeat 85% 50%;
        background-size: 30vh;
        padding-top: 3em;
    }

    #about {
        padding-top: 5em;
        background: url('/img/contact-bg1.png') #f2f2f2 no-repeat top left;
        background-size: 20vh;
    }

    #contact {
        background: #f2f2f2 no-repeat bottom right;
        height: 50vh;
    }     

    footer {
        margin-top: 0 !important;
    }
}